@import "vars";
.footer {
    padding: 60px 0;
    background: #656E74;
    color: #FFFFFF;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: block;
        width: 274px;
        margin-right: 40px;
        img {
            width: 100%;
            display: block;
        }
    }
    &__info {
        font-weight: 500;
        font-size: 15px;
        line-height: 167%;
        max-width: 113px;
    }
    &__contact {
        &:not(:last-child) {
            margin-right: 60px;
        }
        &-wrap {
            display: flex;
        }
        &-title {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.5;
            margin-bottom: 24px;
        }
        &-img {
            max-height: 24px;
        }
        &-link {
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            &:hover {
                text-decoration: underline !important;
                color: #fff;
            }
            &:active {
                text-decoration: none !important;
                color: #fff;
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__link {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        &:hover {
            text-decoration: underline !important;
            color: #fff;
        }
        &:active {
            text-decoration: none !important;
            color: #fff;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__copiright {
        margin-top: 30px;
        font-size: 15px;
        line-height: 20px;
        text-align: right;
        opacity: 0.5;
    }
}

@media screen and (max-width: 1600px) {
    .footer {
        &__logo {
            width: 220px;
        }
        &__contact {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        &__link {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .footer {
        &__left {
            display: block;
        }
        &__info {
            max-width: 332px;
            margin-top: 11px;
        }
        &__contact {
            &-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        &__link {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        padding: 40px 0;
        &__contact {
            &-title {
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 10px;
            }
            &-link {
                font-size: 17px;
                line-height: 20px;
            }
        }
        &__link {
            font-size: 13px;
            line-height: 18px;
        }
        &__copiright {
            margin-top: 10px;
            font-size: 13px;
            line-height: 18px;
        }
        &__info {
            font-size: 14px;
            line-height: 17px;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding-bottom: 30px;
        &__inner {
            display: block;
        }
        &__left {
            flex-direction: column;
            align-items: center;
            display: flex;
        }
        &__logo {
            width: 177px;
            height: 132px;
            background-image: url(../../img/logo-mob.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            margin: 0;
            img {
                display: none;
            }
        }
        &__info {
            text-align: center;
            max-width: 215px;
        }
        &__contact {
            &-wrap {
                border-top: 1px solid #808588;
                border-bottom: 1px solid #808588;
                padding: 30px 0;
                margin: 50px 0 30px;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        &__links {
            justify-content: unset;
            flex-wrap: wrap;
            margin-top: -8px;
        }
        &__link {
            margin-top: 8px;
        }
        &__copiright {
            text-align: left;
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        &__contact {
            &-wrap {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}