@import "vars";
.header {
    padding: 50px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    color: #FFFFFF;
    transition: all .225s;
    &--fix {
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
        padding: 18px 0;
        .header {
            &__logo {
                width: 183.12px;
                height: 47px;
                background-image: url(../img/logo2.png);
            }
        }
        .nav {
            @media screen and (min-width: 992px) {
                color: $black;
                &__link {
                    color: $black;
                    &:hover {
                        color: $black;
                        border-color: $black;
                    }
                }
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 300px;
        height: 77px;
        display: block;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__items,
    &__burger {
        display: none;
    }
}

.nav {
    display: flex;
    align-items: center;
    &__link {
        margin-left: 73px;
        font-weight: 800;
        font-size: 18px;
        @media screen and (min-width: 992px) {
            padding: 5px 0;
            border-top: 2px solid transparent;
            &:hover {
                border-color: #fff;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 16px 0;
        &--fix {
            padding: 16px 0;
            .header {
                &__logo {
                    width: 185px;
                    height: 55px;
                }
                &__burger {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H26C26.5304 8 27.0391 7.78929 27.4142 7.41421C27.7893 7.03914 28 6.53043 28 6C28 5.46957 27.7893 4.96086 27.4142 4.58579C27.0391 4.21071 26.5304 4 26 4H6C5.46957 4 4.96086 4.21071 4.58579 4.58579C4.21071 4.96086 4 5.46957 4 6C4 6.53043 4.21071 7.03914 4.58579 7.41421C4.96086 7.78929 5.46957 8 6 8V8Z' fill='%23232529'/%3E%3Cpath d='M26 14H6C5.46957 14 4.96086 14.2107 4.58579 14.5858C4.21071 14.9609 4 15.4696 4 16C4 16.5304 4.21071 17.0391 4.58579 17.4142C4.96086 17.7893 5.46957 18 6 18H26C26.5304 18 27.0391 17.7893 27.4142 17.4142C27.7893 17.0391 28 16.5304 28 16C28 15.4696 27.7893 14.9609 27.4142 14.5858C27.0391 14.2107 26.5304 14 26 14Z' fill='%23232529'/%3E%3Cpath d='M26 24H6C5.46957 24 4.96086 24.2107 4.58579 24.5858C4.21071 24.9609 4 25.4696 4 26C4 26.5304 4.21071 27.0391 4.58579 27.4142C4.96086 27.7893 5.46957 28 6 28H26C26.5304 28 27.0391 27.7893 27.4142 27.4142C27.7893 27.0391 28 26.5304 28 26C28 25.4696 27.7893 24.9609 27.4142 24.5858C27.0391 24.2107 26.5304 24 26 24Z' fill='%23232529'/%3E%3C/svg%3E");
                    &--active {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath d='M27.3438 24.1625L19.1812 16L27.3438 7.83749C28.225 6.95624 28.225 5.53749 27.3438 4.65624C26.4625 3.77499 25.0438 3.77499 24.1625 4.65624L16 12.8187L7.8375 4.65624C6.95625 3.77499 5.5375 3.77499 4.65625 4.65624C3.775 5.53749 3.775 6.95624 4.65625 7.83749L12.8188 16L4.65625 24.1625C3.775 25.0437 3.775 26.4625 4.65625 27.3437C5.5375 28.225 6.95625 28.225 7.8375 27.3437L16 19.1812L24.1625 27.3437C25.0438 28.225 26.4625 28.225 27.3438 27.3437C28.2188 26.4625 28.2188 25.0375 27.3438 24.1625Z' fill='%23232529'/%3E%3C/g%3E%3C/svg%3E");
                    }
                }
            }
        }
        &--active {
            color: #fff;
            .header {
                &__burger {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H26C26.5304 8 27.0391 7.78929 27.4142 7.41421C27.7893 7.03914 28 6.53043 28 6C28 5.46957 27.7893 4.96086 27.4142 4.58579C27.0391 4.21071 26.5304 4 26 4H6C5.46957 4 4.96086 4.21071 4.58579 4.58579C4.21071 4.96086 4 5.46957 4 6C4 6.53043 4.21071 7.03914 4.58579 7.41421C4.96086 7.78929 5.46957 8 6 8V8Z' fill='white'/%3E%3Cpath d='M26 14H6C5.46957 14 4.96086 14.2107 4.58579 14.5858C4.21071 14.9609 4 15.4696 4 16C4 16.5304 4.21071 17.0391 4.58579 17.4142C4.96086 17.7893 5.46957 18 6 18H26C26.5304 18 27.0391 17.7893 27.4142 17.4142C27.7893 17.0391 28 16.5304 28 16C28 15.4696 27.7893 14.9609 27.4142 14.5858C27.0391 14.2107 26.5304 14 26 14Z' fill='white'/%3E%3Cpath d='M26 24H6C5.46957 24 4.96086 24.2107 4.58579 24.5858C4.21071 24.9609 4 25.4696 4 26C4 26.5304 4.21071 27.0391 4.58579 27.4142C4.96086 27.7893 5.46957 28 6 28H26C26.5304 28 27.0391 27.7893 27.4142 27.4142C27.7893 27.0391 28 26.5304 28 26C28 25.4696 27.7893 24.9609 27.4142 24.5858C27.0391 24.2107 26.5304 24 26 24Z' fill='white'/%3E%3C/svg%3E");
                    &--active {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M27.3438 24.1625L19.1812 16L27.3438 7.83749C28.225 6.95624 28.225 5.53749 27.3438 4.65624C26.4625 3.77499 25.0438 3.77499 24.1625 4.65624L16 12.8187L7.8375 4.65624C6.95625 3.77499 5.5375 3.77499 4.65625 4.65624C3.775 5.53749 3.775 6.95624 4.65625 7.83749L12.8188 16L4.65625 24.1625C3.775 25.0437 3.775 26.4625 4.65625 27.3437C5.5375 28.225 6.95625 28.225 7.8375 27.3437L16 19.1812L24.1625 27.3437C25.0438 28.225 26.4625 28.225 27.3438 27.3437C28.2188 26.4625 28.2188 25.0375 27.3438 24.1625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
                    }
                }
                &__logo {
                    background-image: url(../img/logo4.png);
                }
                &__mob {
                    left: 0;
                }
            }
        }
        &__logo {
            position: relative;
            z-index: 23;
            width: 185px;
            height: 55px;
            background-image: url(../img/logo4.png);
        }
        &__mob {
            transition: all .225s;
            height: 100vh;
            left: -100%;
            top: 0;
            background: #325970;
            width: 100%;
            position: fixed;
            z-index: 22;
            padding: 108px 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__burger {
            position: relative;
            z-index: 23;
            width: 32px;
            height: 32px;
            display: flex;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H26C26.5304 8 27.0391 7.78929 27.4142 7.41421C27.7893 7.03914 28 6.53043 28 6C28 5.46957 27.7893 4.96086 27.4142 4.58579C27.0391 4.21071 26.5304 4 26 4H6C5.46957 4 4.96086 4.21071 4.58579 4.58579C4.21071 4.96086 4 5.46957 4 6C4 6.53043 4.21071 7.03914 4.58579 7.41421C4.96086 7.78929 5.46957 8 6 8V8Z' fill='white'/%3E%3Cpath d='M26 14H6C5.46957 14 4.96086 14.2107 4.58579 14.5858C4.21071 14.9609 4 15.4696 4 16C4 16.5304 4.21071 17.0391 4.58579 17.4142C4.96086 17.7893 5.46957 18 6 18H26C26.5304 18 27.0391 17.7893 27.4142 17.4142C27.7893 17.0391 28 16.5304 28 16C28 15.4696 27.7893 14.9609 27.4142 14.5858C27.0391 14.2107 26.5304 14 26 14Z' fill='white'/%3E%3Cpath d='M26 24H6C5.46957 24 4.96086 24.2107 4.58579 24.5858C4.21071 24.9609 4 25.4696 4 26C4 26.5304 4.21071 27.0391 4.58579 27.4142C4.96086 27.7893 5.46957 28 6 28H26C26.5304 28 27.0391 27.7893 27.4142 27.4142C27.7893 27.0391 28 26.5304 28 26C28 25.4696 27.7893 24.9609 27.4142 24.5858C27.0391 24.2107 26.5304 24 26 24Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            &--active {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M27.3438 24.1625L19.1812 16L27.3438 7.83749C28.225 6.95624 28.225 5.53749 27.3438 4.65624C26.4625 3.77499 25.0438 3.77499 24.1625 4.65624L16 12.8187L7.8375 4.65624C6.95625 3.77499 5.5375 3.77499 4.65625 4.65624C3.775 5.53749 3.775 6.95624 4.65625 7.83749L12.8188 16L4.65625 24.1625C3.775 25.0437 3.775 26.4625 4.65625 27.3437C5.5375 28.225 6.95625 28.225 7.8375 27.3437L16 19.1812L24.1625 27.3437C25.0438 28.225 26.4625 28.225 27.3438 27.3437C28.2188 26.4625 28.2188 25.0375 27.3438 24.1625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px 20px;
            padding: 30px 20px 60px;
            background: #2D546A;
            width: calc(100% + 40px);
            margin-left: -20px;
        }
        &__item {
            &-title {
                font-weight: 500;
                font-size: 13px;
                line-height: 18px;
                opacity: 0.5;
                margin-bottom: 10px;
            }
            &-desc {
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
            }
            &-icon {
                height: 24px;
                width: auto;
            }
        }
    }
    .nav {
        display: block;
        &__link {
            display: block;
            margin: 0;
            padding: 30px 0;
            font-weight: 500;
            font-size: 24px;
            &:not(:last-child) {
                border-bottom: 1px solid #4F778D;
            }
        }
    }
}