<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <div class="footer__col">
                <div class="footer__left">
                    <a href="" class="footer__logo">
                        <img src="img/logo5.png" alt="">
                    </a>
                    <div class="footer__info">Major supplier of petrochemicals to global markets</div>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__contact-wrap">
                    <div class="footer__contact">
                        <div class="footer__contact-title">Our single number:</div>
                        <a href="tel:+41415510015" class="footer__contact-link">+41 (41) 5510015</a>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__contact-title">Email address:</div>
                        <a href="mailto:office@atlaschem.ch" class="footer__contact-link">office@atlaschem.ch</a>
                    </div>
                    <div class="footer__contact">
                        <div class="footer__contact-title">Connect with us:</div>
                        <img class="footer__contact-img" src="img/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__links">
                    <a href="" class="footer__link">Privacy policy</a>
                    <a href="" class="footer__link">Cookie policy</a>
                    <a href="" class="footer__link">Terms and conditions</a>
                </div>
                <div class="footer__copiright">© 2022 Atlas Chem AG. Website by Group of companies SNEG</div>
            </div>
        </div>
    </div>
</footer>


<div class="mModal" id="consultModal">
    <div class="mModal__top">
        <div class="mModal__left">
            <div class="mModal__title">Price request</div>
            <div class="mModal__desc">Propane </div>
        </div>
        <button class="mModal__close">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.3332 8.54675L23.4532 6.66675L15.9998 14.1201L8.5465 6.66675L6.6665 8.54675L14.1198 16.0001L6.6665 23.4534L8.5465 25.3334L15.9998 17.8801L23.4532 25.3334L25.3332 23.4534L17.8798 16.0001L25.3332 8.54675Z" fill="#C6D0E0"/>
            </svg>
        </button>
    </div>
    <form action="" class="mModal__form">
        <fieldset class='form-group form-group--required'>
            <label>Name</label>
            <input type='text' />
        </fieldset>
        <fieldset class='form-group form-group--required'>
            <label>Company, industry</label>
            <input type='text' />
        </fieldset>
        <fieldset class='form-group form-group--required'>
            <label>Phone or e-mail</label>
            <input type='text' />
        </fieldset>
        <fieldset class='form-group'>
            <label>A comment</label>
            <textarea></textarea>
        </fieldset>
        <button class="mModal__btn mbtn btn-blue">Send</button>
    </form>
</div>

<div class="mModal__bg"></div>