<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo"></a>
            <div class="header__mob">
                <nav class="nav">
                    <a href="#about" class="nav__link">About us</a>
                    <a href="#services" class="nav__link">Services</a>
                    <a href="#product" class="nav__link">Products</a>
                    <a href="#contacts" class="nav__link">Contacts</a>
                </nav>
                <div class="header__items">
                    <div class="header__item">
                        <div class="header__item-title">Our single number:</div>
                        <a href="tel:+41415510015" class="header__item-desc">+41 (41) 5510015</a>
                    </div>
                    <div class="header__item">
                        <div class="header__item-title">Email address:</div>
                        <a href="mailto:office@atlaschem.ch" class="header__item-desc">office@atlaschem.ch</a>
                    </div>
                    <div class="header__item">
                        <div class="header__item-title">Connect with us:</div>
                        <img src="img/linkedin.svg" alt="" class="header__item-icon">
                    </div>
                </div>
            </div>
            <button class="header__burger"></button>
        </div>
    </div>
</header>